Repository GQDeltex/ft_transcendence, pull requests merged in 2022-11, with the labels that each got.

#379 add exception filter for game resolver
  backend/docs/classes/game_game_resolver.GameResolver.md
  backend/src/game/game.resolver.ts
Labels: enhancement, backend

#376 Some changes to mitigate deadlock
  backend/docs/classes/game_game_gateway.GameGateway.md
  backend/docs/classes/game_game_service.GameService.md
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
Labels: bug, backend

#427 Don't query game if id is 0
  frontend/src/components/game/EndScreenComponent.vue
  frontend/src/components/game/QueueComponent.vue
Labels: bug, frontend

#428 issue fixed and tested - ready to ship ;-)
  backend/src/prc/channel/channel.service.ts
Labels: bug, backend, priority

#429 throw better error on validation failure
  backend/docs/classes/prc_BadRequestExceptionFilter.BadRequestExceptionFilter.md
  backend/docs/modules.md
  backend/docs/modules/prc_BadRequestExceptionFilter.md
  backend/src/prc/BadRequestExceptionFilter.ts
  backend/src/tools/ExceptionFilter.ts
Labels: bug, backend

#433 Check if data.user actually exists on the socket before using it
  backend/docs/classes/game_game_gateway.GameGateway.md
  backend/src/game/game.gateway.ts
Labels: bug, backend

#449 fix correct filltering out channels
  backend/src/prc/channel/channel.service.ts
Labels: bug, backend

#441 fix in game status
  backend/src/users/users.service.ts
Labels: bug, backend

#434 display rank correctly
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/schema.gql
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
  frontend/src/views/ProfileView.vue
Labels: bug

#455 implemented new optionsPeopleComponent - no Modals for user dropdowns
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/options/ChildOptionsPeopleComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
Labels: enhancement, frontend, BACKLOG

#456 448 change order of games on profile page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/profile/history/ParentHistoryComponent.vue
Labels: frontend, BACKLOG

#457 implemented highlight person when in chat with
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend

#462 423 link must not be underlined in blue on leaderboard
  frontend/src/components/leaderboard/ChildMedalComponent.vue
Labels: frontend

#470 fix auto-scroll
  frontend/src/App.vue
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/components/profile/achievement/ParentAchievementsComponent.vue
Labels: enhancement, frontend

#474 460 dropdown for title selection on the profile page
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/schema.gql
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.ts
  frontend/src/components/globalUse/DropDownComponent.vue
  frontend/src/components/profile/profile/ModalChangeUsernameComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/service/UserService.ts
Labels: enhancement, frontend, backend

#485 new message notification
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/docs/modules/prc_message_message.md
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/message/message.ts
  backend/src/prc/prc.gateway.ts
  frontend/src/App.vue
  frontend/src/components/chat/channels/ChildChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/globalUse/RoundPictureComponent.vue
  frontend/src/store/message.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend

#486 Write messages to ids
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/prc.gateway.ts
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/views/ChatView.vue
Labels: bug, frontend, backend

#487 implement remove admin from channel user
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/auth/controller/intra42.controller.spec.ts
  backend/src/auth/controller/twoFA.controller.spec.ts
  backend/src/auth/service/twoFA.service.spec.ts
  backend/src/game/game.gateway.spec.ts
  backend/src/game/game.resolver.spec.ts
  backend/src/game/game.service.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel.resolver.spec.ts
  backend/src/prc/channel/channel.service.spec.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/prc.gateway.spec.ts
  backend/src/prc/prc.gateway.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/chat/options/ChildOptionsPeopleComponent.vue
  frontend/src/components/chat/options/ModalUpdatePasswordComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelUserService.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, backend

#490 481 collection of minor design issues
  frontend/src/components/game/EndScreenComponent.vue
  frontend/src/components/skinShop/ParentSkinShopComponent.vue
  frontend/src/components/skinShop/PayPalButtonComponent.vue
  frontend/src/views/SkinView.vue
Labels: frontend

#492 476 dropdown menu for logoutprofile similar to 42 intra
  frontend/src/components/globalUse/DropDownComponent.vue
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/views/ProfileView.vue
Labels: enhancement, frontend

#491 add option to reset picture
  backend/docs/classes/users_dto_create_user_input.CreateUserInput.md
  backend/docs/classes/users_entities_user_entity.User.md
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/docs/modules/users_entities_user_entity_mock.md
  backend/src/prc/channel/channel-user/channel-user.service.spec.ts
  backend/src/schema.gql
  backend/src/users/dto/create-user.input.ts
  backend/src/users/entities/user.entity.mock.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.ts
  frontend/src/components/profile/profile/ModalChangePictureComponent.vue
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
Labels: enhancement, frontend, backend

#489 optimize user graphql mutation
  backend/docs/classes/users_entities_user_entity.User.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/schema.gql
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/chat/requests/ParentRequestsComponent.vue
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, backend

#500 font size adjustments done
  frontend/src/App.vue
  frontend/src/components/chat/channels/ChildChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/components/chat/options/ChildOptionsPeopleComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/components/chat/requests/ChildRequestComponent.vue
  frontend/src/components/chat/requests/FriendRequestComponent.vue
  frontend/src/components/chat/requests/GameRequestComponent.vue
  frontend/src/components/chat/requests/ParentRequestsComponent.vue
  frontend/src/components/globalUse/ModalComponent.vue
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/globalUse/RoundPictureComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/views/ChatView.vue
Labels: frontend

#516 136 implement language localization functionality
  .github/ISSUE_TEMPLATE/bug_report.md
  backend/src/auth/service/twoFA.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/chat/channels/ModalChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/components/chat/options/ChildOptionsPeopleComponent.vue
  frontend/src/components/chat/options/ModalUpdatePasswordComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/components/chat/requests/ChildRequestComponent.vue
  frontend/src/components/chat/requests/FriendRequestComponent.vue
  frontend/src/components/chat/requests/GameRequestComponent.vue
  frontend/src/components/chat/requests/ParentRequestsComponent.vue
  frontend/src/components/game/EndScreenComponent.vue
  frontend/src/components/game/PongComponent.vue
  frontend/src/components/game/QueueComponent.vue
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/globalUse/TwoFAInputComponent.vue
  frontend/src/components/leaderboard/ChildMedalComponent.vue
  frontend/src/components/leaderboard/ChildPlayerComponent.vue
  frontend/src/components/profile/aboutMe/AboutMeComponent.vue
  frontend/src/components/profile/achievement/ParentAchievementsComponent.vue
  frontend/src/components/profile/history/ParentHistoryComponent.vue
  frontend/src/components/profile/profile/Enable2FAComponent.vue
  frontend/src/components/profile/profile/ModalChangePictureComponent.vue
  frontend/src/components/profile/profile/ModalChangeUsernameComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/components/skinShop/ParentSkinShopComponent.vue
  frontend/src/components/skinShop/PayPalButtonComponent.vue
  frontend/src/main.ts
  frontend/src/plugin/de.translation.ts
  frontend/src/plugin/en.translation.ts
  frontend/src/plugin/es.translation.ts
  frontend/src/plugin/fr.translation.ts
  frontend/src/plugin/i18n.ts
  frontend/src/plugin/it.translation.ts
  frontend/src/plugin/pl.translation.ts
  frontend/src/plugin/ro.translation.ts
  frontend/src/plugin/ru.translation.ts
  frontend/src/plugin/tmp.translation.ts
  frontend/src/plugin/tr.translation.ts
  frontend/src/plugin/uk.translation.ts
  frontend/src/views/LandingView.vue
  frontend/src/views/LeaderboardView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/SkinView.vue
  frontend/src/views/StreamView.vue
Labels: enhancement, frontend

#517 game replay and other random optimizations
  Makefile
  backend/src/auth/strategy/intra42.strategy.ts
  backend/src/game/entities/game.entity.mock.ts
  backend/src/game/entities/game.entity.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  backend/src/schema.gql
  backend/src/users/entities/item.entity.ts
  frontend/src/components/game/EndScreenComponent.vue
  frontend/src/components/game/GamePeopleComponent.vue
  frontend/src/components/game/PongComponent.vue
  frontend/src/components/game/QueueComponent.vue
  frontend/src/components/game/ball.ts
  frontend/src/components/game/element.ts
  frontend/src/components/game/paddle.ts
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/globalUse/UserPlayedGameComponent.vue
  frontend/src/components/landingview/CategoryComponent.vue
  frontend/src/components/leaderboard/ParentLeaderboardComponent.vue
  frontend/src/components/profile/aboutMe/AboutMeComponent.vue
  frontend/src/components/profile/achievement/ParentAchievementsComponent.vue
  frontend/src/components/profile/history/ParentHistoryComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/components/stream/ChildStreamComponent.vue
  frontend/src/components/stream/ParentStreamComponent.vue
  frontend/src/router/index.ts
  frontend/src/service/GameService.ts
  frontend/src/views/LandingView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/ReplayView.vue
  frontend/src/views/StreamView.vue
Labels: enhancement, frontend, backend

#518 implemented kick user from channel
  backend/src/prc/channel/channel.input.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/schema.gql
  frontend/src/components/chat/options/ChildOptionsPeopleComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelUserService.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, backend
