Repository GQDeltex/ft_transcendence, pull requests merged in 2022-10, with the labels that each got.

#75 Login on frontend
  backend/src/auth/intra42.controller.ts
  backend/src/users/users.module.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/plugin/apolloClient.ts
  frontend/src/router/index.ts
  frontend/src/store/user.ts
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
Labels: enhancement, frontend

#85 Don't update user on login, handle errors
  backend/src/auth/intra42.controller.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  example.env
Labels: backend

#87 Add paypal button to skin selection page
  docker-compose.prod.yaml
  docker-compose.yaml
  example.env
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PayButtonComponent.vue
  frontend/src/components/SkinShopComponent.vue
  frontend/src/main.ts
  frontend/src/views/SkinView.vue
Labels: enhancement, frontend

#95 Update backend test
  backend/src/auth/intra42.controller.spec.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
Labels: backend

#90 update profile picture fixed and tested - with nice french guy
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#98 fix expand environment variable
  backend/src/app.module.ts
  example.env
Labels: bug, backend

#92 Navbar into component
  frontend/src/App.vue
  frontend/src/components/NavbarComponent.vue
Labels: enhancement, frontend

#91 Implement 2fa authentication
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/intra42.controller.spec.ts
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/controller/twoFA.controller.spec.ts
  backend/src/auth/controller/twoFA.controller.ts
  backend/src/auth/service/twoFA.service.spec.ts
  backend/src/auth/service/twoFA.service.ts
  backend/src/auth/strategy/intra42.strategy.spec.ts
  backend/src/main.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: enhancement, backend

#100 30 stream page
  frontend/src/assets/magnifier.png
  frontend/src/assets/magnifier.svg
  frontend/src/components/CategorySearchComponent.vue
  frontend/src/components/SearchResultComponent.vue
  frontend/src/components/StreamCategoryComponent.vue
  frontend/src/components/StreamGameComponent.vue
  frontend/src/router/index.ts
  frontend/src/views/StreamView.vue
Labels: enhancement, frontend

#105 44 connect client to server
  backend/src/auth/guard/jwt.guard.ts
  backend/src/prc/prc.gateway.spec.ts
  backend/src/prc/prc.gateway.ts
  backend/src/prc/prc.module.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/ChatChatComponent.vue
  frontend/src/socket.ts
  frontend/src/views/ChatView.vue
Labels: frontend, backend

#106 Use EntityNotFoundError if not found
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#112 added makefile rule for removing volume -
  Makefile
  backend/src/auth/controller/intra42.controller.ts
  backend/src/users/users.service.ts
Labels: bug, backend

#113 Add debug docker compose file and debug rule
  .gitignore
  .vscode/launch.json
  Makefile
  backend/package.json
  docker-compose.debug.yaml
Labels: enhancement, docker

#109 102 store 42 titles in database
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/strategy/intra42.strategy.ts
  backend/src/users/dto/create-user.input.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/memdb.mock.ts
  frontend/src/components/NavbarComponent.vue
  frontend/src/store/user.ts
Labels: enhancement, frontend, backend

#121 32 user profile page
  frontend/src/assets/PongKingBanner3D.png
  frontend/src/components/AboutMeComponent.vue
  frontend/src/components/AchievementComponent.vue
  frontend/src/components/NavbarComponent.vue
  frontend/src/components/ProfileComponent.vue
  frontend/src/components/StreamGameComponent.vue
  frontend/src/components/UserHistoryComponent.vue
  frontend/src/components/UserPlayedGameComponent.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
Labels: frontend

#118 104 game basics demo
  example.env
  frontend/src/App.vue
  frontend/src/components/NavbarComponent.vue
  frontend/src/components/PongComponent.vue
  frontend/src/router/index.ts
  frontend/src/views/PageNotFoundView.vue
  frontend/src/views/PongView.vue
Labels: frontend

#120 Remove all localhost and replace with loaded from env
  backend/src/auth/controller/intra42.controller.ts
  backend/src/main.ts
  backend/src/prc/prc.gateway.ts
  backend/src/users/users.module.ts
  example.env
  frontend/src/plugin/apolloClient.ts
  frontend/src/socket.ts
  frontend/src/views/LoginView.vue
Labels: frontend, backend

#119 99 add tests to gh actions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  backend/package-lock.json
  backend/package.json
  backend/src/auth/controller/intra42.controller.spec.ts
  backend/src/auth/controller/twoFA.controller.spec.ts
  backend/src/auth/service/twoFA.service.spec.ts
  backend/src/prc/prc.gateway.spec.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
Labels: docker, backend, CI/CD

#123 titus rules the titles
  backend/src/auth/strategy/intra42.strategy.ts
Labels: backend

#125 79 frontend error handling
  backend/src/prc/prc.gateway.ts
  frontend/src/App.vue
  frontend/src/components/ChatChatComponent.vue
  frontend/src/components/ModalComponent.vue
  frontend/src/plugin/socket.ts
  frontend/src/store/error.ts
Labels: backend

#127 124 save online status
  backend/src/prc/prc.gateway.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/ChatChatComponent.vue
Labels: backend

#128 Add MockRepo Class and use that in all tests
  backend/src/auth/controller/intra42.controller.spec.ts
  backend/src/auth/controller/twoFA.controller.spec.ts
  backend/src/auth/service/twoFA.service.spec.ts
  backend/src/prc/prc.gateway.spec.ts
  backend/src/tools/memdb.mock.ts
  backend/src/users/entities/user.entity.mock.ts
  backend/src/users/memdb.mock.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
Labels: backend

#132 Refactor authentication flow
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/strategy/intra42.strategy.ts
  example.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/router/index.ts
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
Labels: enhancement, frontend, backend

#133 68 chat friendspeople component
  frontend/src/App.vue
  frontend/src/components/ChannelsChatComponent.vue
  frontend/src/components/ChatChatComponent.vue
  frontend/src/components/ChatClientComponent.vue
  frontend/src/components/ChatOptionsChatComponent.vue
  frontend/src/components/FriendsPeopleChatComponent.vue
  frontend/src/components/RequestsChatComponent.vue
  frontend/src/service/UserService.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend

#135 add auth bypass for development
  backend/src/auth/guard/intra42.guard.spec.ts
  backend/src/auth/guard/intra42.guard.ts
  example.env
  frontend/src/router/index.ts
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
Labels: backend, debugging

#137 69 chat open chats component
  frontend/src/components/ChannelsChatComponent.vue
  frontend/src/components/ChatChannelComponent.vue
  frontend/src/components/ChatChatComponent.vue
  frontend/src/components/ChatClientComponent.vue
  frontend/src/components/FriendsPeopleChatComponent.vue
  frontend/src/views/ChatView.vue
Labels: frontend

#162 70 chat chat request component
  frontend/src/components/ChannelsChatComponent.vue
  frontend/src/components/ChatChannelComponent.vue
  frontend/src/components/ChatClientComponent.vue
  frontend/src/components/FriendsPeopleChatComponent.vue
  frontend/src/components/RequestChatComponent.vue
  frontend/src/components/RequestsChatComponent.vue
Labels: frontend

#166 add decorator to get jwt payload from http/graphql request
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/users/decorator/current-jwt-payload.decorator.ts
Labels: enhancement, backend

#168 add decorator to get current user
  backend/src/users/decorator/current-user.decorator.ts
  backend/src/users/decorator/pipe-user.pipe.spec.ts
  backend/src/users/decorator/user-pipe.service.ts
  backend/src/users/users.module.ts
Labels: enhancement, backend

#169 139 component for new channel
  frontend/src/components/ChannelsChatComponent.vue
  frontend/src/components/ModalJoinCreateChannelComponent.vue
Labels: frontend

#179 Add Socket connect to App.vue
  frontend/src/App.vue
  frontend/src/components/chat/channels/ChildChannelComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/components/chat/requests/ChildRequestComponent.vue
  frontend/src/components/profile/achievement/ChildAchievementComponent.vue
  frontend/src/plugin/socket.ts
  frontend/src/views/ChatView.vue
Labels: frontend

#184 Improve Build time and reconfigure nginx for SPA
  backend/Dockerfile
  docker-compose.prod.yaml
  frontend/Dockerfile
  frontend/nginx.site.conf
Labels: docker

#182 Remove Channel create Mutation
  backend/src/prc/channel/channel.resolver.ts
Labels: backend

#174 implement friendship system on backend
  backend/src/tools/ExceptionFilter.ts
  backend/src/users/dto/update-friendship.input.ts
  backend/src/users/entities/user.entity.mock.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: enhancement, backend

#181 Protect GraphQL Mutations
  backend/src/users/dto/update-userpicture.input.ts
  backend/src/users/dto/update-userusername.input.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
Labels: backend

#185 added x close button to 2FA modal
  frontend/src/components/profile/profile/Enable2FAComponent.vue
Labels: enhancement, frontend

#191 Import pictures so the paths are correct in production
  frontend/src/components/leaderboard/ParentLeaderboardComponent.vue
  frontend/src/views/SkinView.vue
Labels: bug, frontend

#190 refactor user storage
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/controller/twoFA.controller.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
  frontend/src/App.vue
  frontend/src/components/profile/aboutMe/AboutMeComponent.vue
  frontend/src/plugin/GraphQLService.ts
  frontend/src/plugin/apolloClient.ts
  frontend/src/router/index.ts
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
  frontend/src/views/ChatView.vue
  frontend/src/views/LoginView.vue
Labels: enhancement, frontend

#199 makefile addon
  Makefile
Labels: priority

#200 Add Healthchecks and depends_on
  Makefile
  backend/Dockerfile
  backend/src/app.module.ts
  backend/src/health/health.controller.spec.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
  docker-compose.debug.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  frontend/Dockerfile
  tools/devcontainer/Dockerfile
Labels: bug, docker, backend

#205 Add protection against querying a user with undefined
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: bug, backend

#212 141 change name frontend and backend
  frontend/src/assets/pen.png
  frontend/src/components/profile/profile/ModalChangeUsernameComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/plugin/GraphQLService.ts
  frontend/src/service/UserService.ts
Labels: frontend, backend

#218 Add schema.gql for documentation purposes
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/src/users/users.module.ts
Labels: documentation, backend

#211 separating friends, blocked and other users in chat list component
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/views/ChatView.vue
Labels: frontend

#227 add other user page
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/components/globalUse/NavbarComponent.vue
  frontend/src/components/profile/aboutMe/AboutMeComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/router/index.ts
  frontend/src/store/user.ts
  frontend/src/views/ProfileView.vue
Labels: frontend

#224 Image upload backend endpoint
  .gitignore
  backend/docs/classes/users_dto_update_userpicture_input.UpdateUserPictureInput.md
  backend/docs/classes/users_users_controller.UsersController.md
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/modules.md
  backend/docs/modules/users_dto_update_userpicture_input.md
  backend/docs/modules/users_users_controller.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/src/users/dto/update-userpicture.input.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
  frontend/src/views/ProfileView.vue
Labels: backend

#235 display friends on frontend
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/docs/classes/prc_channel_channel_user_entities_channel_user_entity.ChannelUser.md
  backend/docs/classes/prc_channel_channel_user_entities_channeluser_entity.ChannelUser.md
  backend/docs/classes/prc_channel_entities_channel_entity.Channel.md
  backend/docs/classes/prc_prc_gateway.CustomPrcExceptionFilter.md
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/docs/classes/users_entities_user_entity.User.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/docs/enums/users_dto_update_friendship_input.AllowedUpdateFriendshipMethod.md
  backend/docs/modules.md
  backend/docs/modules/prc_channel_channel_user_entities_channel_user_entity.md
  backend/docs/modules/prc_channel_channel_user_entities_channeluser_entity.md
  backend/src/app.module.ts
  backend/src/auth/controller/intra42.controller.spec.ts
  backend/src/auth/controller/twoFA.controller.spec.ts
  backend/src/auth/service/twoFA.service.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel-user/channel-user.service.spec.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel-user/entities/channel-user.entity.ts
  backend/src/prc/channel/channel.resolver.spec.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.spec.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/channel/entities/channel.entity.ts
  backend/src/prc/prc.gateway.spec.ts
  backend/src/prc/prc.gateway.ts
  backend/src/prc/prc.module.ts
  backend/src/schema.gql
  backend/src/tools/memdb.mock.ts
  backend/src/users/decorator/pipe-user.pipe.spec.ts
  backend/src/users/dto/update-friendship.input.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.module.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/App.vue
  frontend/src/components/chat/channels/ModalChannelComponent.vue
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/components/chat/options/ModalUpdatePassowordComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/components/chat/requests/FriendRequestComponent.vue
  frontend/src/components/chat/requests/ParentRequestsComponent.vue
  frontend/src/components/globalUse/RoundPictureComponent.vue
  frontend/src/components/profile/profile/Enable2FAComponent.vue
  frontend/src/service/ChannelUserService.ts
  frontend/src/service/GraphQLService.ts
  frontend/src/service/UserService.ts
  frontend/src/service/socket.ts
  frontend/src/store/user.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend

#247 215 display channels in chat page
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.ts
  frontend/src/components/chat/channels/ChildChannelComponent.vue
  frontend/src/components/chat/channels/ModalChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/service/ChannelService.ts
  frontend/src/views/ChatView.vue
Labels: frontend, backend, priority

#263 Remove all instanced of username from jwt token payload
  backend/docs/classes/auth_controller_intra42_controller.Intra42Controller.md
  backend/docs/classes/auth_controller_twoFA_controller.TwoFAController.md
  backend/docs/classes/auth_strategy_jwt_strategy.JwtStrategy.md
  backend/docs/interfaces/auth_strategy_jwt_strategy.JwtPayload.md
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/controller/twoFA.controller.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/prc.gateway.ts
  backend/src/users/users.resolver.spec.ts
Labels: backend

#258 Add number of username taken on first login
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: bug, backend

#264 Update ban flag
  Makefile
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/docs/classes/prc_channel_channel_user_entities_channel_user_entity.ChannelUser.md
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel-user/entities/channel-user.entity.ts
  backend/src/schema.gql
Labels: backend

#276 set default coalition for backdoor
  backend/docs/classes/auth_controller_intra42_controller.Intra42Controller.md
  backend/src/auth/controller/intra42.controller.ts
  backend/src/auth/guard/intra42.guard.ts
Labels: bug

#261 Channel Passwords stored as hash in Database
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/classes/prc_channel_entities_channel_entity.Channel.md
  backend/package-lock.json
  backend/package.json
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/channel/entities/channel.entity.ts
  backend/src/schema.gql
Labels: backend

#267 Create Entities for Game
  backend/docs/classes/game_entities_game_entity.Game.md
  backend/docs/classes/game_entities_queuedplayer_entity.QueuedPlayer.md
  backend/docs/classes/game_game_resolver.GameResolver.md
  backend/docs/classes/game_game_service.GameService.md
  backend/docs/classes/tools_memdb_mock.MockRepo.md
  backend/docs/classes/tools_memdbv2_mock.MockDB.md
  backend/docs/enums/game_entities_game_entity.GameState.md
  backend/docs/modules.md
  backend/docs/modules/game_entities_game_entity.md
  backend/docs/modules/game_entities_game_entity_mock.md
  backend/docs/modules/game_entities_queuedplayer_entity.md
  backend/docs/modules/tools_memdbv2_mock.md
  backend/src/app.module.ts
  backend/src/game/entities/game.entity.mock.ts
  backend/src/game/entities/game.entity.ts
  backend/src/game/entities/queuedplayer.entity.ts
  backend/src/game/game.module.ts
  backend/src/game/game.resolver.spec.ts
  backend/src/game/game.resolver.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/schema.gql
  backend/src/tools/memdb.mock.ts
  backend/src/tools/memdbv2.mock.ts
Labels: backend

#273 added and fixed tests see issue
  backend/package.json
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
Labels: bug, enhancement

#265 232 channel mute user
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/schema.gql
  frontend/src/components/chat/options/ModalMuteUserComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelUserService.ts
Labels: backend

#282 143 upload avatar button on profile page
  frontend/src/components/profile/aboutMe/AboutMeComponent.vue
  frontend/src/components/profile/achievement/ParentAchievementsComponent.vue
  frontend/src/components/profile/history/ParentHistoryComponent.vue
  frontend/src/components/profile/profile/ModalChangePictureComponent.vue
  frontend/src/components/profile/profile/ProfileComponent.vue
  frontend/src/views/ProfileView.vue
Labels: frontend

#281 Fix double messages
  backend/docs/classes/prc_message_message.Message.md
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/message/message.ts
  backend/src/prc/prc.gateway.ts
  backend/src/schema.gql
  frontend/src/components/chat/chat/ParentChatComponent.vue
  frontend/src/store/message.ts
Labels: bug, backend

#285 implement channel leaving function
  backend/docs/classes/prc_channel_channel_input.CreateChannelInput.md
  backend/docs/classes/prc_channel_channel_input.LeaveChannelInput.md
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_dto_create_channel_input.CreateChannelInput.md
  backend/docs/classes/prc_dto_privmsg_dto.PrivMsgDto.md
  backend/docs/classes/prc_message_message.Message.md
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/docs/classes/tools_memdb_mock.MockRepo.md
  backend/docs/modules.md
  backend/docs/modules/prc_channel_channel_input.md
  backend/docs/modules/prc_channel_dto_create_channel_input.md
  backend/docs/modules/prc_dto_privmsg_dto.md
  backend/docs/modules/prc_message_message.md
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel.input.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.spec.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/prc/dto/privmsg.dto.ts
  backend/src/prc/message/message.ts
  backend/src/prc/prc.gateway.ts
  backend/src/schema.gql
  backend/src/tools/memdb.mock.ts
Labels: enhancement, backend

#292 Channel List gets updated on join
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/prc.gateway.ts
  frontend/src/components/chat/channels/ModalChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/store/message.ts
  frontend/src/views/ChatView.vue
Labels: bug, frontend, backend

#295 validate new username on update
  backend/docs/classes/users_dto_update_username_input.UpdateUsernameInput.md
  backend/docs/classes/users_dto_update_userusername_input.UpdateUserUsernameInput.md
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/modules.md
  backend/docs/modules/users_dto_update_username_input.md
  backend/docs/modules/users_dto_update_userusername_input.md
  backend/src/users/dto/update-username.input.ts
  backend/src/users/dto/update-userusername.input.ts
  backend/src/users/users.resolver.spec.ts
  backend/src/users/users.resolver.ts
  frontend/src/service/GraphQLService.ts
Labels: bug, backend

#312 added emit for starting a chat with a user by clicking on the
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/components/chat/peoples/ParentPeoplesComponent.vue
  frontend/src/views/ChatView.vue
Labels: frontend

#326 display friend amount
  frontend/src/components/profile/profile/ProfileComponent.vue
Labels: enhancement, frontend

#316 Add logout if new client connects
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/prc.gateway.ts
  frontend/src/App.vue
Labels: frontend, backend

#328 only expose channel users of channel you're in or public
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/schema.gql
Labels: enhancement, backend

#320 query channel users in channel
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_service.ChannelUserService.md
  backend/docs/classes/prc_channel_channel_user_entities_channel_user_entity.ChannelUser.md
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel-user/channel-user.service.ts
  backend/src/prc/channel/channel-user/entities/channel-user.entity.ts
  backend/src/schema.gql
Labels: enhancement, backend

#327 add check and test for ban channel user
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
Labels: enhancement, backend, Testing

#333 Remove throw from function. Only send if socket active
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/prc.gateway.ts
Labels: backend, priority

#340 implemented display only msg from the chat you are in
  frontend/src/components/chat/chat/ParentChatComponent.vue
Labels: frontend

#330 Add matches to stream page and profile page
  backend/docs/classes/game_game_resolver.GameResolver.md
  backend/docs/classes/game_game_service.GameService.md
  backend/src/game/game.resolver.ts
  backend/src/game/game.service.ts
  backend/src/schema.gql
  frontend/src/components/globalUse/UserPlayedGameComponent.vue
  frontend/src/components/profile/history/ParentHistoryComponent.vue
  frontend/src/components/stream/ChildStreamComponent.vue
  frontend/src/service/GameService.ts
  frontend/src/views/StreamView.vue
Labels: frontend, backend

#322 fix first friend request not showing
  backend/src/users/users.service.ts
  frontend/src/components/chat/peoples/ChildPeopleComponent.vue
  frontend/src/store/user.ts
  frontend/src/views/ChatView.vue
Labels: bug, enhancement, frontend

#344 add equip/unequip system
  backend/docs/classes/users_dto_update_equipped_items_input.UpdateUserEquippedItemsInput.md
  backend/docs/classes/users_entities_item_entity.Item.md
  backend/docs/classes/users_entities_user_entity.User.md
  backend/docs/classes/users_users_resolver.UsersResolver.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/docs/enums/users_dto_update_equipped_items_input.AllowedUpdateEquippedItemsMethod.md
  backend/docs/modules.md
  backend/docs/modules/users_dto_update_equipped_items_input.md
  backend/docs/modules/users_entities_item_entity.md
  backend/docs/modules/users_entities_user_entity_mock.md
  backend/src/schema.gql
  backend/src/users/dto/update-equipped-items.input.ts
  backend/src/users/entities/item.entity.ts
  backend/src/users/entities/user.entity.mock.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.resolver.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
  frontend/src/components/skinShop/PayPalButtonComponent.vue
  frontend/src/service/UserService.ts
  frontend/src/store/user.ts
Labels: enhancement, backend

#343 suppress wsexcpetion in resolver
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_user_channel_user_resolver.ChannelUserResolver.md
  backend/docs/classes/tools_ExceptionFilter.CustomPrcExceptionFilter.md
  backend/src/prc/channel/channel-user/channel-user.resolver.spec.ts
  backend/src/prc/channel/channel-user/channel-user.resolver.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/tools/ExceptionFilter.ts
  frontend/src/service/ChannelUserService.ts
Labels: enhancement, backend

#353 fix display user status correctly
  backend/src/users/users.resolver.ts
  frontend/src/service/UserService.ts
  frontend/src/views/ChatView.vue
Labels: bug

#355 implemented Channel Object passing from Chat view to …
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelService.ts
  frontend/src/store/message.ts
  frontend/src/views/ChatView.vue
Labels: enhancement, frontend, backend

#359 implemented toggle channel private - public
  backend/docs/classes/prc_channel_channel_input.ToggleChannelPpInput.md
  backend/docs/classes/prc_channel_channel_resolver.ChannelResolver.md
  backend/docs/classes/prc_channel_channel_service.ChannelService.md
  backend/docs/modules/prc_channel_channel_input.md
  backend/src/prc/channel/channel.input.ts
  backend/src/prc/channel/channel.resolver.ts
  backend/src/prc/channel/channel.service.ts
  backend/src/schema.gql
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelService.ts
  frontend/src/views/ChatView.vue
Labels: frontend, backend

#361 Remove user from queue when disconnected
  Makefile
  backend/docs/classes/game_game_gateway.GameGateway.md
  backend/docs/classes/game_game_service.GameService.md
  backend/docs/classes/users_users_service.UsersService.md
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.ts
  backend/src/users/users.service.ts
Labels: bug, backend, priority

#366 implemented join and leave on public channel - options Components
  backend/docs/classes/prc_prc_gateway.PrcGateway.md
  backend/src/prc/prc.gateway.ts
  frontend/src/components/chat/channels/ChildChannelComponent.vue
  frontend/src/components/chat/channels/ParentChannelsComponent.vue
  frontend/src/components/chat/options/ParentOptionsComponent.vue
  frontend/src/service/ChannelService.ts
  frontend/src/views/ChatView.vue
Labels: frontend, backend
